# Themed resources (i.e. composed icons)
allow appdomain themeservice_app_data_file:dir r_dir_perms;
allow appdomain themeservice_app_data_file:file r_file_perms;

# For AICP_OTA
allow platform_app recovery_cache_file:dir { search write add_name };
allow platform_app recovery_cache_file:file { create write open getattr setattr };
