# AICP Extras

on boot
    # Run sysinit
    start sysinit

    chown system system /dev/cpuctl/apps/cpu.notify_on_migrate
    chmod 0644 /dev/cpuctl/apps/cpu.notify_on_migrate

# adb over network
on property:service.adb.tcp.port=5555
    stop adbd
    start adbd
on property:service.adb.tcp.port=-1
    stop adbd
    start adbd

# sysinit (/system/etc/init.d)
service sysinit /system/bin/sysinit
    user root
    oneshot

import /init.superuser.rc
